
<img src = "images/open_studio.png" width="400px" style = "margin-left: 200px"></img>

<!--<div ng-mousedown="style='blue'">HEY</div>
<div ng-mousedown="myStyle={'background-color':'red'}" ng-style="myStyle">HEY</div>
<div ng-mousedown="myStyle={'background-color':'red'}" ng-style="myStyle">HEY</div>-->
<div class="screen"></div>


<div class="wave">
<audio id="myAudio" src="images/invisible.wav"></audio>
<!--<md-button ng-click="start('start')">Update</md-button>-->
<canvas id="canvas"></canvas>
</div>

